body {
    font-family: 'Roboto', 'Raleway', sans-serif;
    font-size: 14px;
    color: #212121;
}

.header {
    
}

.header a,
.footer a {
    color: #212121;
    text-decoration: none;
    
}

.header__logo {
    padding: 24px 1240px 25px 215px;

}

.logo {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
}

.logo__item {
    color: #2196F3;
}

.header__list {
    list-style-type: none;
}

.header__list a:hover,
.header__list a:focus {
    color: #2196F3;
}

.menu__list {
    list-style-type: none;
}

.btn__item {
    cursor: pointer;
}

.btn__item:hover,
.btn__item:focus {
    color: #FFFFFF;
    background-color: #2196F3;
}

.main__list {
    list-style-type: none;
}
.main__title:hover, .main__title:focus {
    color: #2196F3;
}

.title__box .title__name {
    font-size: 18px;
    line-height: 36px;
    letter-spacing: 0.06em;
}

.title__text .title__site {
    color: #757575;
    font-size: 16px;
    line-height: 30px;
}

.address .address__item {
    text-decoration: none;
    list-style-type: none;
}

.address__item:hover,
.address__item:focus {
    color: #2196F3;
}