
/* global styles */

:root {
    --background-hover: #2196F3;
    --background-dark: #2F303A;
    --color-primary: #212121;
    --color-text: #757575;
    --color-hover: #2196F3;
    --color-second: #FFF;
}

body {
    font-family: 'Roboto', 'Raleway', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: var(--color-primary);
    width: 1600px;
}

/* header */

.logo {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    text-decoration: none;
}

.logo__item {
    color: var(--color-hover);
}

.logo__top {
    color: #000;
}

.navigation__list {
    list-style-type: none;
}

.navigation__item {
    text-decoration: none;
    color: var(--color-primary);
    font-weight: 500;
}

.navigation__item:hover,
.navigation__item:focus {
    color: var(--color-hover);
}

.address__top {
    list-style-type: none;
}

.top__item {
    color: var(--color-text);
    text-decoration: none;
}

.top__item:hover,
.top__item:focus {
    color: var(--color-hover);
}

/* main  - title */

.title {
    text-align: center;
    /* height: 600px; */
    background-color: var(--background-dark);
}

.main__text {
    color: var(--color-second);
    text-align: center;
    font-size: 44px;
    line-height: 1.1;
    font-weight: 900;
    letter-spacing: 0.06em;
}

.button {
    background-color: var(--background-hover);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}

.button__text {
    color: var(--color-second);
    font-family:'Roboto';
    font-style: normal;
    font-size: 16px;
    text-align: center;
    align-items: center;
    letter-spacing: 0.06em;
}

/* assets */

.assets__list {
    list-style-type: none;
    line-height: 1.6;
}

.title__asset {
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.03em;
    line-height: 1.14;
}

.text__item {
    color: var(--color-text);
    line-height: 1.71;
    letter-spacing: 0.03em;
    
}

.team {
    /* height: 648px; */
    background-color: #F5F4FA;
}

/* about our work */

.about_work__list {
    list-style-type: none;
}

/* our team */

.team__list {
    list-style-type: none;
}

.team__item {
    height: 368px;
    width: 270px;
    line-height: 1.6;
    background-color: #fff;
    font-size: 16px;
}

.team__name {
    text-align: center;
    font-weight: 500;
    letter-spacing: 0.03em;
}

.team__profession {
    color: var(--color-text);
    text-align: center;
    letter-spacing: 00.03em;
}

/* menu buttons */

.menu__list {
    list-style-type: none;
}

.btn__item {
    font-weight: 500;
    font-family: 'Roboto';
    font-style: normal;
    cursor: pointer;
}

.btn__item:hover,
.btn__item:focus {
    color: var(--color-second);
    background-color: var(--background-hover);
}

.sites__list {
    list-style-type: none;
}

.title__box .title__name {
    font-size: 18px;
    line-height: 36px;
    font-weight: 700;
    letter-spacing: 0.06em;
}

.title__box .title__site {
    color: var(--color-text);
    font-size: 16px;
    line-height: 30px;
}

.title__box--color:hover, .title__box--color:focus {
    color: var(--color-hover);
}

/* footer */

.footer {
    /* height: 252px; */
    background-color: var(--background-dark);
}

.logo__bottom {
    color: var(--color-second);
}

.address__bottom {
    font-style: normal;
}

.address__item {
    color: var(--color-second);
    text-decoration: none;
    cursor: pointer;
}

.address__item:hover,
.address__item:focus {
    color: var(--color-hover);
}

.contact__list {
    list-style-type: none;
}

.bottom__item {
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
}

.bottom__item:hover,
.bottom__item:focus {
    color: var(--color-hover);
}